<div class="four_squares">
  <div class="top-right">
    {{ content.top-right }}
  </div>
  <div class="top-left">
    {{ content.top-left }}
  </div>
  <div class="bottom-left">
    {{ content.bottom-left }}
  </div>
  <div class="bottom-right">
    {{ content.bottom-right }}
  </div>
</div>